.tasks{
    
    background-color: aqua;
    height: 50vw;
    width: 80 vw;
}

.task-list-header{
    background-color: green;
}

.input-wrapper{
    position: relative;
    height: 15vh;
    width: 15vw;
}

.btn {
    height: 50px;
    width:50px;
}


.task-wrapper {
    display: inline-flex;
    border: 3px solid #fff;
    padding: 20px;
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}